<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>[em]e307[/em]</key>
	<string>e307.gif</string>
	<key>[em]e609[/em]</key>
	<string>e609.gif</string>
	<key>/NO</key>
	<string>no.gif</string>
	<key>/OK</key>
	<string>ok.gif</string>
	<key>/wennuan/</key>
	<string>wennuan.png</string>
	<key>/刀</key>
	<string>刀.gif</string>
	<key>/吐</key>
	<string>吐.gif</string>
	<key>/吓</key>
	<string>吓.gif</string>
	<key>/嘘</key>
	<string>嘘.gif</string>
	<key>/困</key>
	<string>困.gif</string>
	<key>/弱</key>
	<string>弱.gif</string>
	<key>/强</key>
	<string>强.gif</string>
	<key>/晕</key>
	<string>晕.gif</string>
	<key>/睡</key>
	<string>睡.gif</string>
	<key>/色</key>
	<string>色.gif</string>
	<key>/衰</key>
	<string>衰.gif</string>
	<key>/酷</key>
	<string>酷.gif</string>
	<key>/饭</key>
	<string>饭.gif</string>
	<key>/乒乓</key>
	<string>乒乓.gif</string>
	<key>/亲亲</key>
	<string>亲亲.gif</string>
	<key>/便便</key>
	<string>便便.gif</string>
	<key>/偷笑</key>
	<string>偷笑.gif</string>
	<key>/傲慢</key>
	<string>傲慢.gif</string>
	<key>/再见</key>
	<string>再见.gif</string>
	<key>/冷汗</key>
	<string>冷汗.gif</string>
	<key>/凋谢</key>
	<string>凋谢.gif</string>
	<key>/勾引</key>
	<string>勾引.gif</string>
	<key>/发呆</key>
	<string>发呆.gif</string>
	<key>/发怒</key>
	<string>发怒.gif</string>
	<key>/发抖</key>
	<string>发抖.gif</string>
	<key>/可怜</key>
	<string>可怜.gif</string>
	<key>/可爱</key>
	<string>可爱.gif</string>
	<key>/咒骂</key>
	<string>咒骂.gif</string>
	<key>/咖啡</key>
	<string>咖啡.gif</string>
	<key>/哈欠</key>
	<string>哈欠.gif</string>
	<key>/啤酒</key>
	<string>啤酒.gif</string>
	<key>/回头</key>
	<string>回头.gif</string>
	<key>/坏笑</key>
	<string>坏笑.gif</string>
	<key>/大兵</key>
	<string>大兵.gif</string>
	<key>/大哭</key>
	<string>大哭.gif</string>
	<key>/太阳</key>
	<string>太阳.gif</string>
	<key>/奋斗</key>
	<string>奋斗.gif</string>
	<key>/委屈</key>
	<string>委屈.gif</string>
	<key>/害羞</key>
	<string>害羞.gif</string>
	<key>/尴尬</key>
	<string>尴尬.gif</string>
	<key>/差劲</key>
	<string>差劲.gif</string>
	<key>/得意</key>
	<string>得意.gif</string>
	<key>/微笑</key>
	<string>微笑.gif</string>
	<key>/心碎</key>
	<string>心碎.gif</string>
	<key>/怄火</key>
	<string>怄火.gif</string>
	<key>/惊恐</key>
	<string>惊恐.gif</string>
	<key>/惊讶</key>
	<string>惊讶.gif</string>
	<key>/憨笑</key>
	<string>憨笑.gif</string>
	<key>/抓狂</key>
	<string>抓狂.gif</string>
	<key>/折磨</key>
	<string>折磨.gif</string>
	<key>/抠鼻</key>
	<string>抠鼻.gif</string>
	<key>/抱拳</key>
	<string>抱拳.gif</string>
	<key>/拥抱</key>
	<string>拥抱.gif</string>
	<key>/拳头</key>
	<string>拳头.gif</string>
	<key>/挥手</key>
	<string>挥手.gif</string>
	<key>/握手</key>
	<string>握手.gif</string>
	<key>/撇嘴</key>
	<string>撇嘴.gif</string>
	<key>/擦汗</key>
	<string>擦汗.gif</string>
	<key>/敲打</key>
	<string>敲打.gif</string>
	<key>/月亮</key>
	<string>月亮.gif</string>
	<key>/流汗</key>
	<string>流汗.gif</string>
	<key>/流泪</key>
	<string>流泪.gif</string>
	<key>/激动</key>
	<string>激动.gif</string>
	<key>/炸弹</key>
	<string>炸弹.gif</string>
	<key>/爱你</key>
	<string>爱你.gif</string>
	<key>/爱心</key>
	<string>爱心.gif</string>
	<key>/爱情</key>
	<string>爱情.gif</string>
	<key>/猪头</key>
	<string>猪头.gif</string>
	<key>/献吻</key>
	<string>献吻.gif</string>
	<key>/玫瑰</key>
	<string>玫瑰.gif</string>
	<key>/瓢虫</key>
	<string>瓢虫.gif</string>
	<key>/疑问</key>
	<string>疑问.gif</string>
	<key>/白眼</key>
	<string>白眼.gif</string>
	<key>/磕头</key>
	<string>磕头.gif</string>
	<key>/示爱</key>
	<string>示爱.gif</string>
	<key>/礼物</key>
	<string>礼物.gif</string>
	<key>/篮球</key>
	<string>篮球.gif</string>
	<key>/胜利</key>
	<string>胜利.gif</string>
	<key>/菜刀</key>
	<string>菜刀.gif</string>
	<key>/蛋糕</key>
	<string>蛋糕.gif</string>
	<key>/街舞</key>
	<string>街舞.gif</string>
	<key>/西瓜</key>
	<string>西瓜.gif</string>
	<key>/调皮</key>
	<string>调皮.gif</string>
	<key>/足球</key>
	<string>足球.gif</string>
	<key>/跳绳</key>
	<string>跳绳.gif</string>
	<key>/跳跳</key>
	<string>跳跳.gif</string>
	<key>/转圈</key>
	<string>转圈.gif</string>
	<key>/鄙视</key>
	<string>鄙视.gif</string>
	<key>/闪电</key>
	<string>闪电.gif</string>
	<key>/闭嘴</key>
	<string>闭嘴.gif</string>
	<key>/阴险</key>
	<string>阴险.gif</string>
	<key>/难过</key>
	<string>难过.gif</string>
	<key>/飞吻</key>
	<string>飞吻.gif</string>
	<key>/饥饿</key>
	<string>饥饿.gif</string>
	<key>/骷髅</key>
	<string>骷髅.gif</string>
	<key>/鼓掌</key>
	<string>鼓掌.gif</string>
	<key>/龇牙</key>
	<string>龇牙.gif</string>
	<key>/右哼哼</key>
	<string>右哼哼.gif</string>
	<key>/右太极</key>
	<string>右太极.gif</string>
	<key>/左哼哼</key>
	<string>左哼哼.gif</string>
	<key>/左太极</key>
	<string>左太极.gif</string>
	<key>/快哭了</key>
	<string>快哭了.gif</string>
	<key>/糗大了</key>
	<string>糗大了.gif</string>
</dict>
</plist>
